@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

h3 {
    font-size: 1.2375rem;
    color: #313638 ;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */


/* sidebar style */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.menu-title{
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #313638;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #313638;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link, .logout-button {
    padding: .625rem 1.625rem;
    color: #313638;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}
.logout-button {
    border: none;
    background-color:white;
}
/* 
.logout-button:hover {
    color: #007bff;
    text-decoration: underline;
} */

.logout-button:focus {
    outline: none;
}

.add-button {
    background-color: #0D6EFD;
    color: white;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.add-button:hover {
    background-color: #0D6EFD;
    color: white;
    font-weight: bold;
    transform: scale(1.02); /* Scale the button slightly on hover */
}


/* action button in list-kendaraan */
.action-btn {
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.action-btn:hover {
    transform: scale(1.1); /* Scale the button slightly on hover */
}



/* logo sidebar style */
.logo {
    width: 30px; /* Lebar logo */
    height: auto; /* Tinggi logo disesuaikan secara otomatis */
    margin-right: 10px; /* Margin kanan agar terpisah dari tulisan */
}


.greeting {
    margin-left: 1%;
    margin-bottom: 5px;
    position: left;
}

.bengkel-icon{
    margin-left: 80%;
}


/* Custom CSS */
.custom-placeholder::placeholder {
    font-size: 0.8em; /* Adjust the font size as needed */
}

.custom-placeholder2::placeholder {
    /* font-size: 0.8em; */
    color: #B0B6BC; /* Adjust the font size as needed */
}


.rounded-left-bottom {
    border-radius: 8px 0 0 8px;
}

.rounded-right-bottom {
    border-radius: 0 8px 8px 0;
}



.active>.page-link, .page-link.active {
    z-index: 3;
    color: whitesmoke;
    background-color:#457BC3;
    border-color: #1C5EB6;
}
a.page-link:hover{
    z-index: 3;
    color: whitesmoke;
    background-color:#95B4DD;
}

.page-link {
    color: #457BC3;
}